In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
df = pd.read_csv("../data/samples/sample.csv")

In [5]:
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-07-17,Alaska Airlines Inc.,JFK,PDX,False,False,1145,1139.0,0.0,-6.0,...,1210.0,1434.0,8.0,1450,-8.0,0.0,-1.0,1400-1459,10,0
1,2022-05-24,Southwest Airlines Co.,AUS,FLL,False,False,720,738.0,18.0,18.0,...,749.0,1104.0,3.0,1100,7.0,0.0,0.0,1100-1159,5,0
2,2022-06-09,SkyWest Airlines Inc.,LAX,RNO,False,False,949,947.0,0.0,-2.0,...,957.0,1102.0,7.0,1120,-11.0,0.0,-1.0,1100-1159,2,0
3,2022-05-08,American Airlines Inc.,DCA,CLT,False,False,650,640.0,0.0,-10.0,...,710.0,814.0,7.0,823,-2.0,0.0,-1.0,0800-0859,2,0
4,2022-06-09,JetBlue Airways,DCA,RSW,False,False,1304,1321.0,17.0,17.0,...,1337.0,1558.0,6.0,1547,17.0,1.0,1.0,1500-1559,4,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815664 entries, 0 to 815663
Data columns (total 61 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   FlightDate                               815664 non-null  object
 1   Airline                                  815664 non-null  object
 2   Origin                                   815664 non-null  object
 3   Dest                                     815664 non-null  object
 4   Cancelled                                815664 non-null  bool
 5   Diverted                                 815664 non-null  bool
 6   CRSDepTime                               815664 non-null  int64
 7   DepTime                                  791566 non-null  float64
 8   DepDelayMinutes                          791554 non-null  float64
 9   DepDelay                                 791554 non-null  float64
 10  ArrTime                                  790855 non-null  float64
 11  ArrDelayMinutes                          789012 non-null  float64
 12  AirTime                                  789012 non-null  float64
 13  CRSElapsedTime                           815664 non-null  float64
 14  ActualElapsedTime                        789012 non-null  float64
 15  Distance                                 815664 non-null  float64
 16  Year                                     815664 non-null  int64
 17  Quarter                                  815664 non-null  int64
 18  Month                                    815664 non-null  int64
 19  DayofMonth                               815664 non-null  int64
 20  DayOfWeek                                815664 non-null  int64
 21  Marketing_Airline_Network                815664 non-null  object
 22  Operated_or_Branded_Code_Share_Partners  815664 non-null  object
 23  DOT_ID_Marketing_Airline                 815664 non-null  int64
 24  IATA_Code_Marketing_Airline              815664 non-null  object
 25  Flight_Number_Marketing_Airline          815664 non-null  int64
 26  Operating_Airline                        815664 non-null  object
 27  DOT_ID_Operating_Airline                 815664 non-null  int64
 28  IATA_Code_Operating_Airline              815664 non-null  object
 29  Tail_Number                              810314 non-null  object
 30  Flight_Number_Operating_Airline          815664 non-null  int64
 31  OriginAirportID                          815664 non-null  int64
 32  OriginAirportSeqID                       815664 non-null  int64
 33  OriginCityMarketID                       815664 non-null  int64
 34  OriginCityName                           815664 non-null  object
 35  OriginState                              815664 non-null  object
 36  OriginStateFips                          815664 non-null  int64
 37  OriginStateName                          815664 non-null  object
 38  OriginWac                                815664 non-null  int64
 39  DestAirportID                            815664 non-null  int64
 40  DestAirportSeqID                         815664 non-null  int64
 41  DestCityMarketID                         815664 non-null  int64
 42  DestCityName                             815664 non-null  object
 43  DestState                                815664 non-null  object
 44  DestStateFips                            815664 non-null  int64
 45  DestStateName                            815664 non-null  object
 46  DestWac                                  815664 non-null  int64
 47  DepDel15                                 791554 non-null  float64
 48  DepartureDelayGroups                     791554 non-null  float64
 49  DepTimeBlk                               815664 non-null  object
 50  TaxiOut                                  791147 non-null  float64
 51  WheelsOff                                791147 non-null  float64
 52  WheelsOn                                 790854 non-null  float64
 53  TaxiIn                                   790854 non-null  float64
 54  CRSArrTime                               815664 non-null  int64
 55  ArrDelay                                 789012 non-null  float64
 56  ArrDel15                                 789012 non-null  float64
 57  ArrivalDelayGroups                       789012 non-null  float64
 58  ArrTimeBlk                               815664 non-null  object
 59  DistanceGroup                            815664 non-null  int64
 60  DivAirportLandings                       815664 non-null  int64
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 368.7+ MB